/* General */
body {
  margin: 0;
  padding-top: 90px; 
  background-color: #130344;
  color: #FFFFFF;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

/* Header principal */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2c0f6e;
  color: white;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

/* Logo + Título */
.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.site-title {
  font-size: 1.2em;
  font-family: 'Press Start 2P', monospace;
  color: white;
  margin: 0;
  white-space: nowrap;
}

/* Menu nav principal */
.nav-principal {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Enlaces  (Inicio, Noticias, etc.) */
.menu-left {
  display: flex;
  gap: 18px;
}

.menu-left a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s;
}

.menu-left a:hover {
  background-color: #320D6D;
  color: #A584E8;
  transform: translateY(-2px);
}

/* Registro / Login como botones */
.menu-right {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-left: auto;
  padding-right: 32px; 
}


.menu-right a {
  background-color: #572FB0;
  color: #130344;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 22px;
  border-radius: 8px;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
/*animacion pasa mouse por encima*/
.menu-right a:hover {
  background-color: #7b4ccc;
  color: white;
  transform: translateY(-2px);
}
